@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;500&family=Open+Sans:ital,wght@1,300&family=Play&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital@0;1&family=Russo+One&family=Ubuntu&family=Vazirmatn:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}